/* .session-modal {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.session-modal h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.session-modal .link {
  margin-top: 20px;
} */

