.question-index-page {
    max-width: 750px;
    padding: 24px;
}
.question-preview {
    padding: 10px 20px;
    border-top: 1px grey solid;
    display: flex;
}

.stats {
    padding: 5px;
}

.index-head {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.index-head h1{
    font-weight: 400;
}

.question-link{
    text-decoration: none;
    color: #0A95FF;
}
.question-link:hover{
    color: #0074CC;
}

.question-body-preview {
    font-size: 14px;
    line-height: 150%;
}
.ask-button{
    font-family:  "system-ui", "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: normal;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
  
    height: 33px;
      /* width: 59.4531px; */
    background-color: #0A95FF;
    border: 1px solid rgb(122, 167, 199);
    padding: 8px 10.4px;
    box-shadow: rgba(255, 255, 255, 0.7) 0px 1px 0px 0px inset;
    border-radius: 3px;
  }
  
  .ask-button:hover {
    background-color: #0074CC;
  }