.page {
  margin-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo {
  max-width: 50px;
  height: auto;
}

.login-page {
  border: red dashed 1px;
  width: 50%;
  margin: auto;
  margin-top: 20vh;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: column;
}

button {
  cursor: pointer;
  margin-top: 10vh;
  border: red dashed 1px;
  /* box-shadow: 10px 10px 10px grey; */
}

