.page {
  /* margin-top: 20vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(244, 240, 240);
  height: 100vh;
}

.logo {
  max-width: 50px;
  height: auto;
  
}

.login-page {
  background-color: white;

  padding-top: 14px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;



  width: 290px;

  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;

}

.login-page * {
  margin: 3px 0px;
}

.demo-button {
  border: black solid 0px;
  border-radius: 5px;
  color: white;
  background-color: #385499;
  width: 290px;
  padding: .8em;

  margin: 20px;
  
  display: flex;
  
  align-items: center;
  justify-content: center;
}

.demo-button h3 {
  padding-left: 5px;
font-size: 15px;
  width: auto;
}



button {
  cursor: pointer;
}

#login-button {
  width: 240px;
  height: 37px
}

input.login-input {
  width:232px;
  height: 34px;
  border: solid 1px #385499;
  border-radius: 3px;
  padding-left: 5px;
  position: relative;
}

.form h2 {
  font-size: 16px;
  margin-top: 10px;
  padding-left: 2px;
  position: relative;
  
}