.page {
  /* margin-top: 20vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(244, 240, 240);
  height: 100vh;
  width:100%;
}

.signup-page {
  
  background-color: white;

  padding-top: 14px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;

  width: 290px;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 10px 24px hsla(0,0%,0%,0.05), 0 20px 48px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.1);
}

.signup-page h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.signup-page * {
  margin: 3px 0px;
}

.demo-button h3 {
  padding-left: 5px;
  font-size: 15px;
  width: auto;
}

.signup-button {
  width: 240px;
  height: 37px
}

input {
  width:232px;
  height: 34px;
  border: solid .1px #b2c5f3;
  border-radius: 3px;
  padding-left: 5px;
  position: relative;
}

input:focus {
  border: solid .1px #b2c5f3;
  box-shadow: 0px 0px 0px 4px rgb(191, 207, 243);
}

.wrap {
  padding-left: 2px;
  color: grey;
  font-size: 12px;
  width: 238px;
  line-height: 130%;

  margin-bottom: 20px;
}

.form h2 {
  font-size: 14px;
}