

.login-button{
  font-family:  "system-ui", "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: normal;
  text-align: center;
  color: #39739D;

  height: 33px;
	/* width: 59.4531px; */
  background-color: #E1ECF4;
  border: 1px solid rgb(122, 167, 199);
  padding: 8px 10.4px;
  box-shadow: rgba(255, 255, 255, 0.7) 0px 1px 0px 0px inset;
  border-radius: 3px;
}

.login-button:hover {
  background-color: #B3D3EA;
}

.signup-button{
  font-family:  "system-ui", "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: normal;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;

  height: 33px;
	/* width: 59.4531px; */
  background-color: #0A95FF;
  border: 1px solid rgb(122, 167, 199);
  padding: 8px 10.4px;
  box-shadow: rgba(255, 255, 255, 0.7) 0px 1px 0px 0px inset;
  border-radius: 3px;
}

.signup-button:hover {
  background-color: #0074CC;
}


header {
  border-top: solid 3px hsl(27,90%,55%);
  box-shadow: 0px 1px 3px #888888;
  z-index: 5;
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
}

.nav-title {
  color: black;
  display: flex;
  
  align-items: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  
  padding: 5px;
  height: 43px;
  width: 170px;
  
}

.nav-title:hover {
  background-color: #E3E6E8;
  
}

.text-link * {
  padding: 5px 7px;
  text-decoration: none;
  color: #232629;
  margin: 2px;
  font-size: 13px;
  border-radius: 25px;
  /* border: red dashed 1px; */
}

.text-link *:hover {
  background-color: #E3E6E8;
}

.logo {
  max-width:20%;
  /* height:auto; */

  
}
.question {
  padding-left: 5px;
  font-weight:100;
  letter-spacing: -1px;
  font-size: 120%;

}

.queue {
  padding-left: 3px;
  font-weight: 700;
  letter-spacing: -2px;
  font-size: 120%;
}



div.session-links {
  display: flex;
  align-items: center;
  max-width: 1300px;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
}

div.session-links > * {
  margin: 0 10px;
  /* width: 100%; */
}

.search-container {
  width: 45%;
  padding-right: 10px;
}

input.search {
  /* display: flex; */
  font-size: 12px;
  width: 100%;
  /* flex-grow: 1; */


  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: left center;
  background-color: hsl(0deg 0% 100%);

  padding-left: 40px;
  position: relative;
  /* overflow: hidden; */
  /* min-width: 200px; */
  height: 30px;
  border: 1px solid hsl(210deg 8% 75%);
  border-radius: 4px;
}

input.search:focus {
  border: 4px solid hsl(205deg 41% 63%);
}

.login-signup {
  display: block;
  margin-left: 200px;
  margin-right: 400px;
}

#login {
  /* margin: 0 10px; */
  margin-left: 20px;
  margin-right: 10px;
  white-space: nowrap;
}

#signup {
  margin-right: 40px;
white-space: nowrap;
} 