header.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 20px 0; */
  /* border: solid 2px red */
}

header {
  border-top: solid 3px hsl(27,90%,55%);
  box-shadow: 0px 1px 3px #888888;
  z-index: 5;
  height: 45px;
}

.nav-title {
  color: black;
  text-decoration: none; 
}

.nav-title h1 {

  font-size: 2rem;
}

div.session-links {
  display: flex;
  align-items: center;
}

div.session-links > * {
  margin: 0 20px;
}

/* .profile-button {
  width: 20px;
  border: red 2px solid;
}

.profile-icon {
  font-size: 1.5rem;
  cursor: pointer;
} */

input.search {
  font-size: 12px;

  background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: left center;
  background-color: hsl(0deg 0% 100%);

  padding-left: 40px;
  position: relative;
  overflow: hidden;
  min-width: 200px;
  height: 30px;
  border: 1px solid hsl(210deg 8% 75%);
  border-radius: 2px;
}

input.search:focus {
  border: 4px solid hsl(205deg 41% 63%);
}

.profile-dropdown {
  position: absolute;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  background: white;
  z-index: 1;
}

.profile-dropdown li {
  text-align: right;
  margin: 5px;
}

.login-modal {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-modal h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}